<section class="robot-buy-details robot-section">
  <div class="center-show-info">
    <div class='robot_show_model_no'>
      Model No: <%= @robot.model_no%>
    </div>
    <div>
      Weight: <%= @robot.weight%> Tons
    </div>

    <div>
      Height: <%= @robot.height%> Yds
    </div>

    <%= form_tag("/robots/#{@robot.id}", method: "DELETE") do %>
      <%= submit_tag("Purchase Robot")%>
    <% end %>

  </section>
