<section class="individual-item-container">
  <div class="center-show-info">
    <div class='robot_show_model_no'>
      Model No: <%= @robot.model_no%>
    </div>
    <div>
      Weight: <%= @robot.weight%> Tons
    </div>

    <div>
      Height: <%= @robot.height%> Yds
    </div>

<!--   <% if @robot.pending == false %>
    <%= form_tag("/robots/#{@robot.id}/edit", method: "GET") do %>
      <%= submit_tag("Re-designate")%>
    <% end %>
    <%= form_tag("/robots/#{@robot.id}", method: "DELETE") do %>
      <%= submit_tag("Remove")%>
    <% end %>
  <% else %>
    <%= form_tag("/robots/#{@robot.id}/edit", method: "GET") do %>
      <%= submit_tag("Add to Inventory") %>
    <% end %>
  <% end %> -->
  </section>
