<div class='prototype-details'>
  <ul class='protoype-list'>
    <li>Manufactured by: <%= @manufacturer.name %></li>
    <li>Height: <%= @prototype.height %></li>
    <li>Weight: <%= @prototype.weight %></li>
  </ul>

  <% @robot = Robot.new(get_attributes_for_robot(@prototype)) %>
  <%= form_for @robot, url: {action: "create", :controller=>"robots"} do |robot_form| %>
    <%= robot_form.hidden_field :model_no %>
    <%= robot_form.hidden_field :height %>
    <%= robot_form.hidden_field :weight %>
    <%= robot_form.hidden_field :pending %>
    <%= robot_form.hidden_field :manufacturer_id %>
    <%= robot_form.submit("Order") %>
  <% end %>
</div>
